<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#">Home</a>
        <a class="p-2 text-muted" href="#">User management</a>
        <a class="p-2 text-muted" href="#">Document</a>
        <a class="p-2 text-muted" href="#">Attributes</a>
        <a class="p-2 text-muted" href="#">Workflow & Approvals</a>
        <a class="p-2 text-muted" href="#">Backup/Logging</a>
        <a class="p-2 text-muted" href="#">Reports</a>
        <a class="p-2 text-muted" href="#">Misc</a>
        <a class="p-2 text-muted" href="#">Logout</a>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
